In [1]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Stable sort *IN PLACE*.

In [5]:
alphabet_soup = ['a', 'd', 'e', 't', 'f', 'o', 'r', 'm', 'z']

In [11]:
alphabet_soup.sort()
print(alphabet_soup)

['a', 'd', 'e', 'f', 'm', 'o', 'r', 't', 'z']

In [14]:
my_dict = {
    'fruit':"apple",
    'veggie':"broccoli",
    'dairy':'cheese'
}

In [15]:
my_dict['fruit']

'apple'

In [16]:
list1 = [1,2,3,4,5]
dict2 = {
    "key1":41,
    "key2":"hello world",
    "key3":list1
}

In [18]:
dict2['key3']

[1, 2, 3, 4, 5]

In [19]:
# tuples are immutable or cannot be changed

In [20]:
t = ('a', 'a', 'b')

In [22]:
t.count('a')

2

In [24]:
t.index('a')  # returns very first time 'a' appears in tuple

0

In [25]:
mylist = [1 , 2, 3]

In [29]:
mylist[0] = 'NEW'
mylist

['NEW', 2, 3]

In [30]:
t[0] = 'NEW' # cannot change tuples

TypeError: 'tuple' object does not support item assignment

In [33]:
type(t)

tuple

In [34]:
myset = set()

In [37]:
myset.add(1)
myset # looks like dict but has not key pairs

{1}

In [38]:
myset.add(2)

In [39]:
myset

{1, 2}

In [40]:
myset.add(2)  # only accepts unique values

In [41]:
mylist = [1,1,2,2,3,3]

In [43]:
set(mylist)

{1, 2, 3}

In [44]:
type(mylist)

list

In [45]:
set('Mississipi')

{'M', 'i', 'p', 's'}

In [46]:
# booleans

In [47]:
True and False

False

In [48]:
True and not False

True

In [49]:
type(False)

bool

In [50]:
1 > 2

False