In [1]:
mystring = 'hello'

In [3]:
mylist = []
# convert string to list
for letter in mystring:
    mylist.append(letter)
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [14]:
# convert list to string
mystring = ""
for letter in mylist:
    mystring += str(letter) + ""   
print(mystring)

hello

In [16]:
mylist = [letter for letter in mystring] 
mylist

['h', 'e', 'l', 'l', 'o']

In [18]:
mylist = [x for x in 'word']  # add the letter at the index for every letter in the list
mylist

['w', 'o', 'r', 'd']

In [22]:
mylist = [num**2 for num in range(0,11)]  # square the number at index for every number in the list
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [25]:
celcius = [0,10,20,34.5]
fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [26]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [27]:
# if and elif in list comprehension

In [31]:
results = [x if x%2==0 else 'ODD' for x in range (0,11)]

In [30]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [32]:
# nested loops

In [37]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [39]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]