In [5]:
my_tuple = ("Solar")  # no comma in single item tuple is a string
my_tuple2 = ("Solar",)
print(my_tuple, type(my_tuple), type(my_tuple2), sep='\n')

Solar
<class 'str'>
<class 'tuple'>

In [6]:
tuple1 = 1,2,3,4,5  # no paranthesis required
type(tuple1)

tuple

In [8]:
mytuple = tuple(range(0,11))
print(mytuple)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [11]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
print(mix_tuple[2][2][0])

six

In [13]:
mydictionary = {
    "name": "Fatih",
    "age" : 17,
    "gender": "male"
}

In [17]:
mydictionary["name"]

'Fatih'

In [27]:
for key,value in mydictionary.items():
    print(key,value,sep=': ')

name: Fatih
age: 17
gender: male

In [29]:
del (mydictionary["name"])

In [30]:
print(mydictionary)

{'age': 17, 'gender': 'male'}